openapi: 3.1.0
info:
  title: Google Slides API
  description: >
    Reads and writes Google Slides presentations. The Google Slides API lets you
    create and modify Google Slides presentations. Apps can integrate with the
    Slides API to create presentations, add and modify slides, format text and
    shapes, embed charts and images, and perform batch updates to presentations
    programmatically.
  version: v1
  contact:
    name: Google Workspace Developer Support
    url: https://developers.google.com/slides/api/support
  license:
    name: Google APIs Terms of Service
    url: https://developers.google.com/terms
  x-logo:
    url: https://www.gstatic.com/images/branding/product/2x/slides_2020q4_48dp.png

servers:
- url: https://slides.googleapis.com
  description: Google Slides API Production Server

security:
- OAuth2: []

tags:
- name: Pages
  description: Operations on pages within presentations

- name: Presentations
  description: Operations on Google Slides presentations
paths:
  /v1/presentations:
    post:
      summary: Google Slides Create Presentation
      description: >
        Creates a blank presentation using the title given in the request. If a
        presentationId is provided, it is used as the ID of the new presentation.
        Otherwise, a new ID is generated. Other fields in the request, including
        any provided content, are ignored.
      operationId: createPresentation
      tags:
      - Presentations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Presentation'
            examples:
              CreateBlankPresentation:
                summary: Create a blank presentation with a title
                value:
                  title: My New Presentation
      responses:
        '200':
          description: Successful response containing the created presentation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Presentation'
              examples:
                Createpresentation200Example:
                  summary: Default createPresentation 200 response
                  x-microcks-default: true
                  value:
                    presentationId: '500123'
                    title: Example Title
                    pageSize: {}
                    slides:
                    - objectId: '500123'
                      pageType: SLIDE
                      pageElements: {}
                      revisionId: '500123'
                    masters:
                    - objectId: '500123'
                      pageType: SLIDE
                      pageElements: {}
                      revisionId: '500123'
                    layouts:
                    - objectId: '500123'
                      pageType: SLIDE
                      pageElements: {}
                      revisionId: '500123'
                    locale: example_value
                    revisionId: '500123'
                    notesMaster:
                      objectId: '500123'
                      pageType: SLIDE
                      pageElements:
                      - {}
                      revisionId: '500123'
        '400':
          description: Bad Request - Invalid input parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Createpresentation400Example:
                  summary: Default createPresentation 400 response
                  x-microcks-default: true
                  value:
                    error:
                      code: 10
                      message: example_value
                      status: example_value
                      details:
                      - {}
        '401':
          description: Unauthorized - Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Createpresentation401Example:
                  summary: Default createPresentation 401 response
                  x-microcks-default: true
                  value:
                    error:
                      code: 10
                      message: example_value
                      status: example_value
                      details:
                      - {}
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

              examples:
                Createpresentation403Example:
                  summary: Default createPresentation 403 response
                  x-microcks-default: true
                  value:
                    error:
                      code: 10
                      message: example_value
                      status: example_value
                      details:
                      - {}
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/presentations/{presentationId}:
    get:
      summary: Google Slides Get Presentation
      description: >
        Gets the latest version of the specified presentation.
      operationId: getPresentation
      tags:
      - Presentations
      parameters:
      - $ref: '#/components/parameters/PresentationId'
      responses:
        '200':
          description: Successful response containing the presentation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Presentation'
              examples:
                Getpresentation200Example:
                  summary: Default getPresentation 200 response
                  x-microcks-default: true
                  value:
                    presentationId: '500123'
                    title: Example Title
                    pageSize: {}
                    slides:
                    - objectId: '500123'
                      pageType: SLIDE
                      pageElements: {}
                      revisionId: '500123'
                    masters:
                    - objectId: '500123'
                      pageType: SLIDE
                      pageElements: {}
                      revisionId: '500123'
                    layouts:
                    - objectId: '500123'
                      pageType: SLIDE
                      pageElements: {}
                      revisionId: '500123'
                    locale: example_value
                    revisionId: '500123'
                    notesMaster:
                      objectId: '500123'
                      pageType: SLIDE
                      pageElements:
                      - {}
                      revisionId: '500123'
        '401':
          description: Unauthorized - Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Getpresentation401Example:
                  summary: Default getPresentation 401 response
                  x-microcks-default: true
                  value:
                    error:
                      code: 10
                      message: example_value
                      status: example_value
                      details:
                      - {}
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Getpresentation403Example:
                  summary: Default getPresentation 403 response
                  x-microcks-default: true
                  value:
                    error:
                      code: 10
                      message: example_value
                      status: example_value
                      details:
                      - {}
        '404':
          description: Not Found - Presentation does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

              examples:
                Getpresentation404Example:
                  summary: Default getPresentation 404 response
                  x-microcks-default: true
                  value:
                    error:
                      code: 10
                      message: example_value
                      status: example_value
                      details:
                      - {}
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/presentations/{presentationId}:batchUpdate:
    post:
      summary: Google Slides Batch Update Presentation
      description: >
        Applies one or more updates to the presentation. Each request is
        validated before being applied. If any request is not valid, then the
        entire request will fail and nothing will be applied. Some requests have
        replies to give you some information about how they are applied. Other
        requests do not need to return information; these each return an empty
        reply. The order of replies matches that of the requests.
      operationId: batchUpdatePresentation
      tags:
      - Presentations
      parameters:
      - $ref: '#/components/parameters/PresentationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchUpdatePresentationRequest'
            examples:
              InsertText:
                summary: Insert text into a shape
                value:
                  requests:
                  - insertText:
                      objectId: MyShape_01
                      text: Hello World
                      insertionIndex: 0
              CreateSlide:
                summary: Create a new slide
                value:
                  requests:
                  - createSlide:
                      slideLayoutReference:
                        predefinedLayout: TITLE_AND_BODY
                      insertionIndex: 1
      responses:
        '200':
          description: Successful response containing update replies
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchUpdatePresentationResponse'
              examples:
                Batchupdatepresentation200Example:
                  summary: Default batchUpdatePresentation 200 response
                  x-microcks-default: true
                  value:
                    presentationId: '500123'
                    replies:
                    - {}
                    writeControl:
                      requiredRevisionId: '500123'
        '400':
          description: Bad Request - One or more requests are invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Batchupdatepresentation400Example:
                  summary: Default batchUpdatePresentation 400 response
                  x-microcks-default: true
                  value:
                    error:
                      code: 10
                      message: example_value
                      status: example_value
                      details:
                      - {}
        '401':
          description: Unauthorized - Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Batchupdatepresentation401Example:
                  summary: Default batchUpdatePresentation 401 response
                  x-microcks-default: true
                  value:
                    error:
                      code: 10
                      message: example_value
                      status: example_value
                      details:
                      - {}
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Batchupdatepresentation403Example:
                  summary: Default batchUpdatePresentation 403 response
                  x-microcks-default: true
                  value:
                    error:
                      code: 10
                      message: example_value
                      status: example_value
                      details:
                      - {}
        '404':
          description: Not Found - Presentation does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

              examples:
                Batchupdatepresentation404Example:
                  summary: Default batchUpdatePresentation 404 response
                  x-microcks-default: true
                  value:
                    error:
                      code: 10
                      message: example_value
                      status: example_value
                      details:
                      - {}
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/presentations/{presentationId}/pages/{pageObjectId}:
    get:
      summary: Google Slides Get Page
      description: >
        Gets the latest version of the specified page in the presentation.
      operationId: getPage
      tags:
      - Pages
      parameters:
      - $ref: '#/components/parameters/PresentationId'
      - $ref: '#/components/parameters/PageObjectId'
      responses:
        '200':
          description: Successful response containing the page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
              examples:
                Getpage200Example:
                  summary: Default getPage 200 response
                  x-microcks-default: true
                  value:
                    objectId: '500123'
                    pageType: SLIDE
                    pageElements:
                    - objectId: '500123'
                      title: Example Title
                      description: A sample description.
                    revisionId: '500123'
                    pageProperties: {}
                    slideProperties:
                      layoutObjectId: '500123'
                      masterObjectId: '500123'
                      isSkipped: true
                    layoutProperties:
                      masterObjectId: '500123'
                      name: Example Title
                      displayName: example_value
                    notesProperties:
                      speakerNotesObjectId: '500123'
                    masterProperties:
                      displayName: example_value
        '401':
          description: Unauthorized - Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Getpage401Example:
                  summary: Default getPage 401 response
                  x-microcks-default: true
                  value:
                    error:
                      code: 10
                      message: example_value
                      status: example_value
                      details:
                      - {}
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Getpage403Example:
                  summary: Default getPage 403 response
                  x-microcks-default: true
                  value:
                    error:
                      code: 10
                      message: example_value
                      status: example_value
                      details:
                      - {}
        '404':
          description: Not Found - Page does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

              examples:
                Getpage404Example:
                  summary: Default getPage 404 response
                  x-microcks-default: true
                  value:
                    error:
                      code: 10
                      message: example_value
                      status: example_value
                      details:
                      - {}
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/presentations/{presentationId}/pages/{pageObjectId}/thumbnail:
    get:
      summary: Google Slides Get Page Thumbnail
      description: >
        Generates a thumbnail of the latest version of the specified page in
        the presentation and returns a URL to the thumbnail image. This request
        counts against the presentation's read quota.
      operationId: getPageThumbnail
      tags:
      - Pages
      parameters:
      - $ref: '#/components/parameters/PresentationId'
      - $ref: '#/components/parameters/PageObjectId'
      - name: thumbnailProperties.mimeType
        in: query
        description: >
          The optional mime type of the thumbnail image. If you don't specify
          the mime type, the mime type defaults to PNG.
        schema:
          type: string
          enum:
          - PNG
          - JPEG
        example: PNG
      - name: thumbnailProperties.thumbnailSize
        in: query
        description: >
          The optional thumbnail image size. If you don't specify the size,
          the server chooses a default size of the image.
        schema:
          type: string
          enum:
          - THUMBNAIL_SIZE_UNSPECIFIED
          - LARGE
          - MEDIUM
          - SMALL
        example: THUMBNAIL_SIZE_UNSPECIFIED
      responses:
        '200':
          description: Successful response containing the thumbnail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Thumbnail'
              examples:
                Getpagethumbnail200Example:
                  summary: Default getPageThumbnail 200 response
                  x-microcks-default: true
                  value:
                    contentUrl: https://www.example.com
                    width: 10
                    height: 10
        '401':
          description: Unauthorized - Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Getpagethumbnail401Example:
                  summary: Default getPageThumbnail 401 response
                  x-microcks-default: true
                  value:
                    error:
                      code: 10
                      message: example_value
                      status: example_value
                      details:
                      - {}
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Getpagethumbnail403Example:
                  summary: Default getPageThumbnail 403 response
                  x-microcks-default: true
                  value:
                    error:
                      code: 10
                      message: example_value
                      status: example_value
                      details:
                      - {}
        '404':
          description: Not Found - Page does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

              examples:
                Getpagethumbnail404Example:
                  summary: Default getPageThumbnail 404 response
                  x-microcks-default: true
                  value:
                    error:
                      code: 10
                      message: example_value
                      status: example_value
                      details:
                      - {}
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: >
        Google OAuth 2.0 authentication. Requires one of the following scopes
        depending on the operation.
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/v2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/presentations: See, edit, create, and delete all your Google Slides presentations
            https://www.googleapis.com/auth/presentations.readonly: See all your Google Slides presentations
            https://www.googleapis.com/auth/drive: See, edit, create, and delete all of your Google Drive files
            https://www.googleapis.com/auth/drive.file: See, edit, create, and delete only the specific Google Drive files you use with this app
            https://www.googleapis.com/auth/drive.readonly: See and download all your Google Drive files
            https://www.googleapis.com/auth/spreadsheets: See, edit, create, and delete all your Google Sheets spreadsheets
            https://www.googleapis.com/auth/spreadsheets.readonly: See all your Google Sheets spreadsheets

  parameters:
    PresentationId:
      name: presentationId
      in: path
      required: true
      description: The ID of the presentation.
      schema:
        type: string
    PageObjectId:
      name: pageObjectId
      in: path
      required: true
      description: The object ID of the page to retrieve.
      schema:
        type: string

  schemas:
    Presentation:
      type: object
      description: A Google Slides presentation.
      properties:
        presentationId:
          type: string
          description: The ID of the presentation.
          readOnly: true
          example: '500123'
        title:
          type: string
          description: The title of the presentation.
          example: Example Title
        pageSize:
          $ref: '#/components/schemas/Size'
        slides:
          type: array
          description: >
            The slides in the presentation. A slide inherits properties from a
            slide layout.
          items:
            $ref: '#/components/schemas/Page'
          readOnly: true
          example: []
        masters:
          type: array
          description: >
            The slide masters in the presentation. A slide master contains all
            common page elements and the common properties for a set of layouts.
          items:
            $ref: '#/components/schemas/Page'
          readOnly: true
          example: []
        layouts:
          type: array
          description: >
            The layouts in the presentation. A layout is a template that
            determines how content is arranged and styled on the slides that
            inherit from that layout.
          items:
            $ref: '#/components/schemas/Page'
          readOnly: true
          example: []
        locale:
          type: string
          description: >
            The locale of the presentation as an IETF BCP 47 language tag.
          example: example_value
        revisionId:
          type: string
          description: >
            Output only. The revision ID of the presentation. Can be used in
            update requests to assert that the presentation revision has not
            changed since the last read operation. Only populated if the user
            has edit access to the presentation. The revision ID is not a
            sequential number but an opaque string. The format may change over
            time. A returned revision ID is only guaranteed to be valid for 24
            hours after it has been returned and cannot be shared across users.
          readOnly: true
          example: '500123'
        notesMaster:
          $ref: '#/components/schemas/Page'
          description: >
            The notes master in the presentation. It serves as the template for
            the notes pages of all slides.
          readOnly: true

    Page:
      type: object
      description: A page in a presentation.
      properties:
        objectId:
          type: string
          description: >
            The object ID for this page. Object IDs used by Page and
            PageElement share the same namespace.
          example: '500123'
        pageType:
          type: string
          description: The type of the page.
          enum:
          - SLIDE
          - MASTER
          - LAYOUT
          - NOTES
          - NOTES_MASTER
          example: SLIDE
        pageElements:
          type: array
          description: The page elements rendered on the page.
          items:
            $ref: '#/components/schemas/PageElement'
          example: []
        revisionId:
          type: string
          description: >
            Output only. The revision ID of the presentation containing this
            page. Can be used in update requests to assert the presentation
            revision has not changed since the last read operation.
          readOnly: true
          example: '500123'
        pageProperties:
          $ref: '#/components/schemas/PageProperties'
        slideProperties:
          $ref: '#/components/schemas/SlideProperties'
        layoutProperties:
          $ref: '#/components/schemas/LayoutProperties'
        notesProperties:
          $ref: '#/components/schemas/NotesProperties'
        masterProperties:
          $ref: '#/components/schemas/MasterProperties'

    PageElement:
      type: object
      description: A visual element rendered on a page.
      properties:
        objectId:
          type: string
          description: The object ID for this page element.
          example: '500123'
        size:
          $ref: '#/components/schemas/Size'
        transform:
          $ref: '#/components/schemas/AffineTransform'
        title:
          type: string
          description: The title of the page element for accessibility.
          example: Example Title
        description:
          type: string
          description: The description of the page element for accessibility.
          example: A sample description.
        shape:
          $ref: '#/components/schemas/Shape'
        image:
          $ref: '#/components/schemas/Image'
        video:
          $ref: '#/components/schemas/Video'
        line:
          $ref: '#/components/schemas/Line'
        table:
          $ref: '#/components/schemas/Table'
        wordArt:
          $ref: '#/components/schemas/WordArt'
        sheetsChart:
          $ref: '#/components/schemas/SheetsChart'
        elementGroup:
          $ref: '#/components/schemas/Group'
        speakerSpotlight:
          $ref: '#/components/schemas/SpeakerSpotlight'

    Shape:
      type: object
      description: >
        A PageElement kind representing a generic shape that does not have a
        more specific classification.
      properties:
        shapeType:
          type: string
          description: The type of the shape.
          enum:
          - TYPE_UNSPECIFIED
          - TEXT_BOX
          - RECTANGLE
          - ROUND_RECTANGLE
          - ELLIPSE
          - ARC
          - BENT_ARROW
          - BENT_UP_ARROW
          - BEVEL
          - BLOCK_ARC
          - BRACE_PAIR
          - BRACKET_PAIR
          - CAN
          - CHEVRON
          - CHORD
          - CLOUD
          - CORNER
          - CUBE
          - CURVED_DOWN_ARROW
          - CURVED_LEFT_ARROW
          - CURVED_RIGHT_ARROW
          - CURVED_UP_ARROW
          - CUSTOM
          - DECAGON
          - DIAGONAL_STRIPE
          - DIAMOND
          - DODECAGON
          - DONUT
          - DOUBLE_WAVE
          - DOWN_ARROW
          - DOWN_ARROW_CALLOUT
          - FLOW_CHART_ALTERNATE_PROCESS
          - FLOW_CHART_COLLATE
          - FLOW_CHART_CONNECTOR
          - FLOW_CHART_DECISION
          - FLOW_CHART_DELAY
          - FLOW_CHART_DISPLAY
          - FLOW_CHART_DOCUMENT
          - FLOW_CHART_EXTRACT
          - FLOW_CHART_INPUT_OUTPUT
          - FLOW_CHART_INTERNAL_STORAGE
          - FLOW_CHART_MAGNETIC_DISK
          - FLOW_CHART_MAGNETIC_DRUM
          - FLOW_CHART_MAGNETIC_TAPE
          - FLOW_CHART_MANUAL_INPUT
          - FLOW_CHART_MANUAL_OPERATION
          - FLOW_CHART_MERGE
          - FLOW_CHART_MULTIDOCUMENT
          - FLOW_CHART_OFFLINE_STORAGE
          - FLOW_CHART_OFFPAGE_CONNECTOR
          - FLOW_CHART_ONLINE_STORAGE
          - FLOW_CHART_OR
          - FLOW_CHART_PREDEFINED_PROCESS
          - FLOW_CHART_PREPARATION
          - FLOW_CHART_PROCESS
          - FLOW_CHART_PUNCHED_CARD
          - FLOW_CHART_PUNCHED_TAPE
          - FLOW_CHART_SORT
          - FLOW_CHART_SUMMING_JUNCTION
          - FLOW_CHART_TERMINATOR
          - FOLDED_CORNER
          - FRAME
          - HALF_FRAME
          - HEART
          - HEPTAGON
          - HEXAGON
          - HOME_PLATE
          - HORIZONTAL_SCROLL
          - IRREGULAR_SEAL_1
          - IRREGULAR_SEAL_2
          - LEFT_ARROW
          - LEFT_ARROW_CALLOUT
          - LEFT_BRACE
          - LEFT_BRACKET
          - LEFT_RIGHT_ARROW
          - LEFT_RIGHT_ARROW_CALLOUT
          - LEFT_RIGHT_UP_ARROW
          - LEFT_UP_ARROW
          - LIGHTNING_BOLT
          - MATH_DIVIDE
          - MATH_EQUAL
          - MATH_MINUS
          - MATH_MULTIPLY
          - MATH_NOT_EQUAL
          - MATH_PLUS
          - MOON
          - NO_SMOKING
          - NOTCHED_RIGHT_ARROW
          - OCTAGON
          - PARALLELOGRAM
          - PENTAGON
          - PIE
          - PLAQUE
          - PLUS
          - QUAD_ARROW
          - QUAD_ARROW_CALLOUT
          - RIBBON
          - RIBBON_2
          - RIGHT_ARROW
          - RIGHT_ARROW_CALLOUT
          - RIGHT_BRACE
          - RIGHT_BRACKET
          - ROUND_1_RECTANGLE
          - ROUND_2_DIAGONAL_RECTANGLE
          - ROUND_2_SAME_RECTANGLE
          - RIGHT_TRIANGLE
          - SMILEY_FACE
          - SNIP_1_RECTANGLE
          - SNIP_2_DIAGONAL_RECTANGLE
          - SNIP_2_SAME_RECTANGLE
          - SNIP_ROUND_RECTANGLE
          - STAR_10
          - STAR_12
          - STAR_16
          - STAR_24
          - STAR_32
          - STAR_4
          - STAR_5
          - STAR_6
          - STAR_7
          - STAR_8
          - STRIPED_RIGHT_ARROW
          - SUN
          - TRAPEZOID
          - TRIANGLE
          - UP_ARROW
          - UP_ARROW_CALLOUT
          - UP_DOWN_ARROW
          - UTURN_ARROW
          - VERTICAL_SCROLL
          - WAVE
          - WEDGE_ELLIPSE_CALLOUT
          - WEDGE_RECTANGLE_CALLOUT
          - WEDGE_ROUND_RECTANGLE_CALLOUT
          example: TYPE_UNSPECIFIED
        text:
          $ref: '#/components/schemas/TextContent'
        shapeProperties:
          $ref: '#/components/schemas/ShapeProperties'
        placeholder:
          $ref: '#/components/schemas/Placeholder'

    Image:
      type: object
      description: >
        A PageElement kind representing an image.
      properties:
        contentUrl:
          type: string
          description: >
            An URL to an image with a default lifetime of 30 minutes. This URL
            is tagged with the account of the requester.
          readOnly: true
          example: https://www.example.com
        sourceUrl:
          type: string
          description: >
            The source URL is the URL used to insert the image. The source URL
            can be empty.
          example: https://www.example.com
        imageProperties:
          $ref: '#/components/schemas/ImageProperties'
        placeholder:
          $ref: '#/components/schemas/Placeholder'

    Video:
      type: object
      description: >
        A PageElement kind representing a video.
      properties:
        url:
          type: string
          description: >
            An URL to a video. The URL is valid as long as the source video exists
            and sharing settings do not change.
          example: https://www.example.com
        source:
          type: string
          description: The video source.
          enum:
          - SOURCE_UNSPECIFIED
          - YOUTUBE
          - DRIVE
          - GOOGLE_MEET
          example: SOURCE_UNSPECIFIED
        id:
          type: string
          description: >
            The video source's unique identifier for this video.
          example: abc123
        videoProperties:
          $ref: '#/components/schemas/VideoProperties'

    Line:
      type: object
      description: >
        A PageElement kind representing a non-connector line, straight
        connector, curved connector, or bent connector.
      properties:
        lineCategory:
          type: string
          description: The category of the line.
          enum:
          - LINE_CATEGORY_UNSPECIFIED
          - STRAIGHT
          - BENT
          - CURVED
          example: LINE_CATEGORY_UNSPECIFIED
        lineType:
          type: string
          description: The type of the line.
          enum:
          - TYPE_UNSPECIFIED
          - STRAIGHT_CONNECTOR_1
          - BENT_CONNECTOR_2
          - BENT_CONNECTOR_3
          - BENT_CONNECTOR_4
          - BENT_CONNECTOR_5
          - CURVED_CONNECTOR_2
          - CURVED_CONNECTOR_3
          - CURVED_CONNECTOR_4
          - CURVED_CONNECTOR_5
          - STRAIGHT_LINE
          example: TYPE_UNSPECIFIED
        lineProperties:
          $ref: '#/components/schemas/LineProperties'

    Table:
      type: object
      description: >
        A PageElement kind representing a table.
      properties:
        rows:
          type: integer
          description: Number of rows in the table.
          example: 10
        columns:
          type: integer
          description: Number of columns in the table.
          example: 10
        tableRows:
          type: array
          description: >
            Properties and contents of each row. Cells that span multiple rows
            are contained in only one of these rows and have a rowSpan greater
            than 1.
          items:
            $ref: '#/components/schemas/TableRow'
          example: []
        tableColumns:
          type: array
          description: Properties of each column.
          items:
            $ref: '#/components/schemas/TableColumnProperties'
          example: []
        horizontalBorderRows:
          type: array
          description: Properties of horizontal cell borders.
          items:
            $ref: '#/components/schemas/TableBorderRow'
          example: []
        verticalBorderRows:
          type: array
          description: Properties of vertical cell borders.
          items:
            $ref: '#/components/schemas/TableBorderRow'

          example: []
    WordArt:
      type: object
      description: A PageElement kind representing word art.
      properties:
        renderedText:
          type: string
          description: The text rendered as word art.

          example: example_value
    SheetsChart:
      type: object
      description: >
        A PageElement kind representing a linked chart embedded from Google
        Sheets.
      properties:
        spreadsheetId:
          type: string
          description: The ID of the Google Sheets spreadsheet that contains the source chart.
          example: '500123'
        chartId:
          type: integer
          description: The ID of the specific chart in the Google Sheets spreadsheet.
          example: '500123'
        contentUrl:
          type: string
          description: >
            The URL of an image of the embedded chart, with a default lifetime
            of 30 minutes.
          readOnly: true
          example: https://www.example.com
        sheetsChartProperties:
          $ref: '#/components/schemas/SheetsChartProperties'

    Group:
      type: object
      description: >
        A PageElement kind representing a joined collection of PageElements.
      properties:
        children:
          type: array
          description: The collection of elements in the group.
          items:
            $ref: '#/components/schemas/PageElement'

          example: []
    SpeakerSpotlight:
      type: object
      description: >
        A PageElement kind representing a speaker spotlight.
      properties:
        speakerSpotlightProperties:
          $ref: '#/components/schemas/SpeakerSpotlightProperties'

    SpeakerSpotlightProperties:
      type: object
      description: The properties of a SpeakerSpotlight.
      properties:
        outline:
          $ref: '#/components/schemas/Outline'
        shadow:
          $ref: '#/components/schemas/Shadow'

    TextContent:
      type: object
      description: >
        The general text content. The text must reside in a compatible shape
        (e.g., text box or rectangle) or a table cell in a page.
      properties:
        textElements:
          type: array
          description: The text contents broken down into text elements.
          items:
            $ref: '#/components/schemas/TextElement'
          example: []
        lists:
          type: object
          description: >
            The bulleted lists contained in this text, keyed by list ID.
          additionalProperties:
            $ref: '#/components/schemas/List'

          example: example_value
    TextElement:
      type: object
      description: >
        A TextElement describes the content of a range of indices in the text
        content of a Shape or TableCell.
      properties:
        startIndex:
          type: integer
          description: >
            The zero-based start index of this text element, in Unicode code
            units of the UTF-16 encoding.
          example: 10
        endIndex:
          type: integer
          description: >
            The zero-based end index of this text element, exclusive, in Unicode
            code units of the UTF-16 encoding.
          example: 10
        paragraphMarker:
          $ref: '#/components/schemas/ParagraphMarker'
        textRun:
          $ref: '#/components/schemas/TextRun'
        autoText:
          $ref: '#/components/schemas/AutoText'

    TextRun:
      type: object
      description: >
        A TextElement kind that represents a run of text that all has the same
        styling.
      properties:
        content:
          type: string
          description: The text of this run.
          example: example_value
        style:
          $ref: '#/components/schemas/TextStyle'

    AutoText:
      type: object
      description: >
        A TextElement kind that represents auto text.
      properties:
        type:
          type: string
          description: The type of this auto text.
          enum:
          - TYPE_UNSPECIFIED
          - SLIDE_NUMBER
          example: TYPE_UNSPECIFIED
        content:
          type: string
          description: >
            The rendered content of this auto text, if available.
          example: example_value
        style:
          $ref: '#/components/schemas/TextStyle'

    ParagraphMarker:
      type: object
      description: >
        A TextElement kind that represents the beginning of a new paragraph.
      properties:
        style:
          $ref: '#/components/schemas/ParagraphStyle'
        bullet:
          $ref: '#/components/schemas/Bullet'

    Bullet:
      type: object
      description: Describes the bullet of a paragraph.
      properties:
        listId:
          type: string
          description: The ID of the list this paragraph belongs to.
          example: '500123'
        nestingLevel:
          type: integer
          description: The nesting level of this paragraph in the list.
          example: 10
        glyph:
          type: string
          description: The rendered bullet glyph for this paragraph.
          example: example_value
        bulletStyle:
          $ref: '#/components/schemas/TextStyle'

    List:
      type: object
      description: A list describes the look and feel of bullets belonging to paragraphs.
      properties:
        listId:
          type: string
          description: The ID of the list.
          example: '500123'
        nestingLevel:
          type: object
          description: >
            A map of nesting levels to the properties of bullets at the
            associated level.
          additionalProperties:
            $ref: '#/components/schemas/NestingLevel'

          example: example_value
    NestingLevel:
      type: object
      description: >
        Contains properties describing the look and feel of a list bullet at
        a given level of nesting.
      properties:
        bulletStyle:
          $ref: '#/components/schemas/TextStyle'

    TextStyle:
      type: object
      description: >
        Represents the styling that can be applied to a TextRun. If this text
        is contained in a shape with a parent placeholder, then these text styles
        may be inherited from the parent.
      properties:
        backgroundColor:
          $ref: '#/components/schemas/OptionalColor'
        foregroundColor:
          $ref: '#/components/schemas/OptionalColor'
        bold:
          type: boolean
          description: Whether the text is bold.
          example: true
        italic:
          type: boolean
          description: Whether the text is italicized.
          example: true
        fontFamily:
          type: string
          description: The font family of the text.
          example: example_value
        fontSize:
          $ref: '#/components/schemas/Dimension'
        link:
          $ref: '#/components/schemas/Link'
        baselineOffset:
          type: string
          description: The text's vertical offset from its normal position.
          enum:
          - BASELINE_OFFSET_UNSPECIFIED
          - NONE
          - SUPERSCRIPT
          - SUBSCRIPT
          example: BASELINE_OFFSET_UNSPECIFIED
        smallCaps:
          type: boolean
          description: Whether the text is in small capital letters.
          example: true
        strikethrough:
          type: boolean
          description: Whether the text is struck through.
          example: true
        underline:
          type: boolean
          description: Whether the text is underlined.
          example: true
        weightedFontFamily:
          $ref: '#/components/schemas/WeightedFontFamily'

    WeightedFontFamily:
      type: object
      description: Represents a font family and weight of text.
      properties:
        fontFamily:
          type: string
          description: The font family of the text.
          example: example_value
        weight:
          type: integer
          description: >
            The weight of the font. This field can have any value that is a
            multiple of 100 between 100 and 900, inclusive.

          example: 10
    ParagraphStyle:
      type: object
      description: >
        Styles that apply to a whole paragraph. If this text is contained in a
        shape with a parent placeholder, then these paragraph styles may be
        inherited from the parent.
      properties:
        lineSpacing:
          type: number
          description: >
            The amount of space between lines, as a percentage of normal, where
            normal is represented as 100.0.
          example: 42.5
        alignment:
          type: string
          description: The text alignment for this paragraph.
          enum:
          - ALIGNMENT_UNSPECIFIED
          - START
          - CENTER
          - END
          - JUSTIFIED
          example: ALIGNMENT_UNSPECIFIED
        indentStart:
          $ref: '#/components/schemas/Dimension'
        indentEnd:
          $ref: '#/components/schemas/Dimension'
        indentFirstLine:
          $ref: '#/components/schemas/Dimension'
        direction:
          type: string
          description: The text direction of this paragraph.
          enum:
          - TEXT_DIRECTION_UNSPECIFIED
          - LEFT_TO_RIGHT
          - RIGHT_TO_LEFT
          example: TEXT_DIRECTION_UNSPECIFIED
        spacingMode:
          type: string
          description: The spacing mode for the paragraph.
          enum:
          - SPACING_MODE_UNSPECIFIED
          - NEVER_COLLAPSE
          - COLLAPSE_LISTS
          example: SPACING_MODE_UNSPECIFIED
        spaceAbove:
          $ref: '#/components/schemas/Dimension'
        spaceBelow:
          $ref: '#/components/schemas/Dimension'

    Link:
      type: object
      description: A hypertext link.
      properties:
        url:
          type: string
          description: If set, indicates this is a link to the external web page at this URL.
          example: https://www.example.com
        relativeLink:
          type: string
          description: >
            If set, indicates this is a link to a slide in this presentation,
            addressed by its position.
          enum:
          - RELATIVE_SLIDE_LINK_UNSPECIFIED
          - NEXT_SLIDE
          - PREVIOUS_SLIDE
          - FIRST_SLIDE
          - LAST_SLIDE
          example: RELATIVE_SLIDE_LINK_UNSPECIFIED
        pageObjectId:
          type: string
          description: >
            If set, indicates this is a link to the specific page in this
            presentation with this ID.
          example: '500123'
        slideIndex:
          type: integer
          description: >
            If set, indicates this is a link to the slide at this zero-based
            index in the presentation.

          example: 10
    ShapeProperties:
      type: object
      description: >
        The properties of a Shape. If the shape is a placeholder shape, then
        these properties may be inherited from its parent placeholder shape.
      properties:
        shapeBackgroundFill:
          $ref: '#/components/schemas/ShapeBackgroundFill'
        outline:
          $ref: '#/components/schemas/Outline'
        shadow:
          $ref: '#/components/schemas/Shadow'
        link:
          $ref: '#/components/schemas/Link'
        contentAlignment:
          type: string
          description: The alignment of the content in the shape.
          enum:
          - CONTENT_ALIGNMENT_UNSPECIFIED
          - CONTENT_ALIGNMENT_UNSUPPORTED
          - TOP
          - MIDDLE
          - BOTTOM
          example: CONTENT_ALIGNMENT_UNSPECIFIED
        autofit:
          $ref: '#/components/schemas/Autofit'

    Autofit:
      type: object
      description: The autofit properties of a Shape.
      properties:
        autofitType:
          type: string
          description: The autofit type of the shape.
          enum:
          - AUTOFIT_TYPE_UNSPECIFIED
          - NONE
          - TEXT_AUTOFIT
          - SHAPE_AUTOFIT
          example: AUTOFIT_TYPE_UNSPECIFIED
        fontScale:
          type: number
          description: >
            The font scale applied to the shape. For shapes with autofit enabled,
            this is the font scale value applied by the auto-fit algorithm.

          example: 42.5
    ShapeBackgroundFill:
      type: object
      description: The background fill of a shape.
      properties:
        propertyState:
          type: string
          description: >
            The background fill property state.
          enum:
          - RENDERED
          - NOT_RENDERED
          - INHERIT
          example: RENDERED
        solidFill:
          $ref: '#/components/schemas/SolidFill'

    ImageProperties:
      type: object
      description: The properties of an Image.
      properties:
        cropProperties:
          $ref: '#/components/schemas/CropProperties'
        transparency:
          type: number
          description: >
            The transparency effect of the image. The value should be in the
            interval [0.0, 1.0], where 0 means no effect and 1 means completely
            transparent.
          example: 42.5
        brightness:
          type: number
          description: >
            The brightness effect of the image. The value should be in the
            interval [-1.0, 1.0], where 0 means no effect.
          example: 42.5
        contrast:
          type: number
          description: >
            The contrast effect of the image. The value should be in the
            interval [-1.0, 1.0], where 0 means no effect.
          example: 42.5
        recolor:
          $ref: '#/components/schemas/Recolor'
        outline:
          $ref: '#/components/schemas/Outline'
        shadow:
          $ref: '#/components/schemas/Shadow'
        link:
          $ref: '#/components/schemas/Link'

    CropProperties:
      type: object
      description: >
        The crop properties of an object enclosed in a container.
      properties:
        leftOffset:
          type: number
          description: >
            The offset specifies the left edge of the crop rectangle that is
            located to the right of the original bounding rectangle left edge,
            relative to the object's original width.
          example: 42.5
        rightOffset:
          type: number
          description: >
            The offset specifies how far inward the right edge of the crop
            rectangle is from the right edge of the original bounding rectangle.
          example: 42.5
        topOffset:
          type: number
          description: >
            The offset specifies how far inward the top edge of the crop
            rectangle is from the top edge of the original bounding rectangle.
          example: 42.5
        bottomOffset:
          type: number
          description: >
            The offset specifies how far inward the bottom edge of the crop
            rectangle is from the bottom edge of the original bounding rectangle.
          example: 42.5
        angle:
          type: number
          description: >
            The rotation angle of the crop window around its center, in radians.

          example: 42.5
    Recolor:
      type: object
      description: >
        A recolor effect applied on an image.
      properties:
        recolorStops:
          type: array
          description: The recolor effect is represented by a gradient.
          items:
            $ref: '#/components/schemas/ColorStop'
          example: []
        name:
          type: string
          description: The name of the recolor effect.
          enum:
          - NONE
          - LIGHT1
          - LIGHT2
          - LIGHT3
          - LIGHT4
          - LIGHT5
          - LIGHT6
          - LIGHT7
          - LIGHT8
          - LIGHT9
          - LIGHT10
          - DARK1
          - DARK2
          - DARK3
          - DARK4
          - DARK5
          - DARK6
          - DARK7
          - DARK8
          - DARK9
          - DARK10
          - GRAYSCALE
          - NEGATIVE
          - SEPIA
          - CUSTOM

          example: NONE
    ColorStop:
      type: object
      description: A color and position in a gradient band.
      properties:
        color:
          $ref: '#/components/schemas/OpaqueColor'
        alpha:
          type: number
          description: >
            The alpha value of this color in the gradient band. Defaults to 1.0,
            fully opaque.
          example: 42.5
        position:
          type: number
          description: >
            The relative position of the color stop in the gradient band measured
            in percentage.

          example: 42.5
    VideoProperties:
      type: object
      description: The properties of a Video.
      properties:
        outline:
          $ref: '#/components/schemas/Outline'
        autoPlay:
          type: boolean
          description: Whether to enable video autoplay when the page is displayed.
          example: true
        start:
          type: integer
          description: The time at which to start playback, measured in seconds from the beginning.
          example: 10
        end:
          type: integer
          description: The time at which to end playback, measured in seconds from the beginning.
          example: 10
        mute:
          type: boolean
          description: Whether to mute the audio during video playback.

          example: true
    LineProperties:
      type: object
      description: The properties of a Line.
      properties:
        lineFill:
          $ref: '#/components/schemas/LineFill'
        weight:
          $ref: '#/components/schemas/Dimension'
        dashStyle:
          type: string
          description: The dash style of the line.
          enum:
          - DASH_STYLE_UNSPECIFIED
          - SOLID
          - DOT
          - DASH
          - DASH_DOT
          - LONG_DASH
          - LONG_DASH_DOT
          example: DASH_STYLE_UNSPECIFIED
        startArrow:
          type: string
          description: The style of the arrow at the beginning of the line.
          enum:
          - ARROW_STYLE_UNSPECIFIED
          - NONE
          - STEALTH_ARROW
          - FILL_ARROW
          - FILL_CIRCLE
          - FILL_SQUARE
          - FILL_DIAMOND
          - OPEN_ARROW
          - OPEN_CIRCLE
          - OPEN_SQUARE
          - OPEN_DIAMOND
          example: ARROW_STYLE_UNSPECIFIED
        endArrow:
          type: string
          description: The style of the arrow at the end of the line.
          enum:
          - ARROW_STYLE_UNSPECIFIED
          - NONE
          - STEALTH_ARROW
          - FILL_ARROW
          - FILL_CIRCLE
          - FILL_SQUARE
          - FILL_DIAMOND
          - OPEN_ARROW
          - OPEN_CIRCLE
          - OPEN_SQUARE
          - OPEN_DIAMOND
          example: ARROW_STYLE_UNSPECIFIED
        startConnection:
          $ref: '#/components/schemas/LineConnection'
        endConnection:
          $ref: '#/components/schemas/LineConnection'
        link:
          $ref: '#/components/schemas/Link'

    LineConnection:
      type: object
      description: The properties for one end of a Line connection.
      properties:
        connectedObjectId:
          type: string
          description: The object ID of the connected page element.
          example: '500123'
        connectionSiteIndex:
          type: integer
          description: >
            The index of the connection site on the connected page element.

          example: 10
    LineFill:
      type: object
      description: The fill of a line.
      properties:
        solidFill:
          $ref: '#/components/schemas/SolidFill'

    SheetsChartProperties:
      type: object
      description: The properties of a SheetsChart.
      properties:
        chartImageProperties:
          $ref: '#/components/schemas/ImageProperties'

    TableRow:
      type: object
      description: Properties and contents of each row in a table.
      properties:
        rowHeight:
          $ref: '#/components/schemas/Dimension'
        tableCells:
          type: array
          description: >
            Properties and contents of each cell. Cells that span multiple
            columns are represented only once with a columnSpan greater than 1.
          items:
            $ref: '#/components/schemas/TableCell'
          example: []
        tableRowProperties:
          $ref: '#/components/schemas/TableRowProperties'

    TableCell:
      type: object
      description: Properties and contents of each table cell.
      properties:
        location:
          $ref: '#/components/schemas/TableCellLocation'
        rowSpan:
          type: integer
          description: Row span of the cell.
          example: 10
        columnSpan:
          type: integer
          description: Column span of the cell.
          example: 10
        text:
          $ref: '#/components/schemas/TextContent'
        tableCellProperties:
          $ref: '#/components/schemas/TableCellProperties'

    TableCellLocation:
      type: object
      description: A location of a single table cell within a table.
      properties:
        rowIndex:
          type: integer
          description: The 0-based row index.
          example: 10
        columnIndex:
          type: integer
          description: The 0-based column index.

          example: 10
    TableCellProperties:
      type: object
      description: The properties of a TableCell.
      properties:
        tableCellBackgroundFill:
          $ref: '#/components/schemas/TableCellBackgroundFill'
        contentAlignment:
          type: string
          description: The alignment of content within the table cell.
          enum:
          - CONTENT_ALIGNMENT_UNSPECIFIED
          - CONTENT_ALIGNMENT_UNSUPPORTED
          - TOP
          - MIDDLE
          - BOTTOM

          example: CONTENT_ALIGNMENT_UNSPECIFIED
    TableCellBackgroundFill:
      type: object
      description: The table cell background fill.
      properties:
        propertyState:
          type: string
          description: The background fill property state.
          enum:
          - RENDERED
          - NOT_RENDERED
          - INHERIT
          example: RENDERED
        solidFill:
          $ref: '#/components/schemas/SolidFill'

    TableRowProperties:
      type: object
      description: Properties of each row in a table.
      properties:
        minRowHeight:
          $ref: '#/components/schemas/Dimension'

    TableColumnProperties:
      type: object
      description: Properties of each column in a table.
      properties:
        columnWidth:
          $ref: '#/components/schemas/Dimension'

    TableBorderRow:
      type: object
      description: Contents of each border row in a table.
      properties:
        tableBorderCells:
          type: array
          description: Properties of each border cell.
          items:
            $ref: '#/components/schemas/TableBorderCell'

          example: []
    TableBorderCell:
      type: object
      description: The properties of each border cell.
      properties:
        location:
          $ref: '#/components/schemas/TableCellLocation'
        tableBorderProperties:
          $ref: '#/components/schemas/TableBorderProperties'

    TableBorderProperties:
      type: object
      description: The border styling properties of a TableBorderCell.
      properties:
        tableBorderFill:
          $ref: '#/components/schemas/TableBorderFill'
        weight:
          $ref: '#/components/schemas/Dimension'
        dashStyle:
          type: string
          description: The dash style of the border.
          enum:
          - DASH_STYLE_UNSPECIFIED
          - SOLID
          - DOT
          - DASH
          - DASH_DOT
          - LONG_DASH
          - LONG_DASH_DOT

          example: DASH_STYLE_UNSPECIFIED
    TableBorderFill:
      type: object
      description: The fill of a table border.
      properties:
        solidFill:
          $ref: '#/components/schemas/SolidFill'

    Placeholder:
      type: object
      description: >
        The placeholder information that uniquely identifies a placeholder shape.
      properties:
        type:
          type: string
          description: The type of the placeholder.
          enum:
          - NONE
          - BODY
          - CHART
          - CLIP_ART
          - CENTERED_TITLE
          - DIAGRAM
          - DATE_AND_TIME
          - FOOTER
          - HEADER
          - MEDIA
          - OBJECT
          - PICTURE
          - SLIDE_NUMBER
          - SUBTITLE
          - TABLE
          - TITLE
          - SLIDE_IMAGE
          example: NONE
        index:
          type: integer
          description: >
            The index of the placeholder. If the same placeholder types are
            present in the same page, they would have different index values.
          example: 10
        parentObjectId:
          type: string
          description: >
            The object ID of this shape's parent placeholder.

          example: '500123'
    PageProperties:
      type: object
      description: The properties of a Page.
      properties:
        pageBackgroundFill:
          $ref: '#/components/schemas/PageBackgroundFill'
        colorScheme:
          $ref: '#/components/schemas/ColorScheme'

    PageBackgroundFill:
      type: object
      description: The background fill of a page.
      properties:
        propertyState:
          type: string
          description: The background fill property state.
          enum:
          - RENDERED
          - NOT_RENDERED
          - INHERIT
          example: RENDERED
        solidFill:
          $ref: '#/components/schemas/SolidFill'
        stretchedPictureFill:
          $ref: '#/components/schemas/StretchedPictureFill'

    StretchedPictureFill:
      type: object
      description: The stretched picture fill of a page background.
      properties:
        contentUrl:
          type: string
          description: >
            Reading the contentUrl returns the content of the picture. The URL
            has a default lifetime of 30 minutes.
          readOnly: true
          example: https://www.example.com
        size:
          $ref: '#/components/schemas/Size'

    ColorScheme:
      type: object
      description: >
        The palette of predefined colors for a page.
      properties:
        colors:
          type: array
          description: The ThemeColorType and corresponding concrete color pairs.
          items:
            $ref: '#/components/schemas/ThemeColorPair'

          example: []
    ThemeColorPair:
      type: object
      description: A pair mapping a theme color type to the concrete color it represents.
      properties:
        type:
          type: string
          description: The type of the theme color.
          enum:
          - THEME_COLOR_TYPE_UNSPECIFIED
          - DARK1
          - LIGHT1
          - DARK2
          - LIGHT2
          - ACCENT1
          - ACCENT2
          - ACCENT3
          - ACCENT4
          - ACCENT5
          - ACCENT6
          - HYPERLINK
          - FOLLOWED_HYPERLINK
          - TEXT1
          - BACKGROUND1
          - TEXT2
          - BACKGROUND2
          example: THEME_COLOR_TYPE_UNSPECIFIED
        color:
          $ref: '#/components/schemas/RgbColor'

    SlideProperties:
      type: object
      description: >
        The properties of a Page that are only relevant for pages with pageType
        SLIDE.
      properties:
        layoutObjectId:
          type: string
          description: >
            The object ID of the layout that this slide is based on.
          example: '500123'
        masterObjectId:
          type: string
          description: >
            The object ID of the master that this slide is based on.
          example: '500123'
        notesPage:
          $ref: '#/components/schemas/Page'
        isSkipped:
          type: boolean
          description: Whether the slide is skipped in the presentation mode.

          example: true
    LayoutProperties:
      type: object
      description: >
        The properties of a Page that are only relevant for pages with pageType
        LAYOUT.
      properties:
        masterObjectId:
          type: string
          description: >
            The object ID of the master that this layout is based on.
          example: '500123'
        name:
          type: string
          description: The name of the layout.
          example: Example Title
        displayName:
          type: string
          description: The human-readable name of the layout.

          example: example_value
    NotesProperties:
      type: object
      description: >
        The properties of a Page that are only relevant for pages with pageType
        NOTES.
      properties:
        speakerNotesObjectId:
          type: string
          description: >
            The object ID of the shape on this notes page that contains the
            speaker notes for the corresponding slide.

          example: '500123'
    MasterProperties:
      type: object
      description: >
        The properties of a Page that are only relevant for pages with pageType
        MASTER.
      properties:
        displayName:
          type: string
          description: The human-readable name of the master.

          example: example_value
    Outline:
      type: object
      description: The outline of a PageElement.
      properties:
        outlineFill:
          $ref: '#/components/schemas/OutlineFill'
        weight:
          $ref: '#/components/schemas/Dimension'
        dashStyle:
          type: string
          description: The dash style of the outline.
          enum:
          - DASH_STYLE_UNSPECIFIED
          - SOLID
          - DOT
          - DASH
          - DASH_DOT
          - LONG_DASH
          - LONG_DASH_DOT
          example: DASH_STYLE_UNSPECIFIED
        propertyState:
          type: string
          description: The outline property state.
          enum:
          - RENDERED
          - NOT_RENDERED
          - INHERIT

          example: RENDERED
    OutlineFill:
      type: object
      description: The fill of the outline.
      properties:
        solidFill:
          $ref: '#/components/schemas/SolidFill'

    Shadow:
      type: object
      description: The shadow properties of a page element.
      properties:
        type:
          type: string
          description: The type of the shadow.
          enum:
          - SHADOW_TYPE_UNSPECIFIED
          - OUTER
          example: SHADOW_TYPE_UNSPECIFIED
        transform:
          $ref: '#/components/schemas/AffineTransform'
        alignment:
          type: string
          description: The alignment point of the shadow.
          enum:
          - RECTANGLE_POSITION_UNSPECIFIED
          - TOP_LEFT
          - TOP_CENTER
          - TOP_RIGHT
          - LEFT_CENTER
          - CENTER
          - RIGHT_CENTER
          - BOTTOM_LEFT
          - BOTTOM_CENTER
          - BOTTOM_RIGHT
          example: RECTANGLE_POSITION_UNSPECIFIED
        blurRadius:
          $ref: '#/components/schemas/Dimension'
        color:
          $ref: '#/components/schemas/OpaqueColor'
        alpha:
          type: number
          description: >
            The alpha of the shadow's color, from 0.0 to 1.0.
          example: 42.5
        rotateWithShape:
          type: boolean
          description: Whether the shadow should rotate with the shape.
          example: true
        propertyState:
          type: string
          description: The shadow property state.
          enum:
          - RENDERED
          - NOT_RENDERED
          - INHERIT

          example: RENDERED
    SolidFill:
      type: object
      description: A solid color fill.
      properties:
        color:
          $ref: '#/components/schemas/OpaqueColor'
        alpha:
          type: number
          description: >
            The fraction of this color that should be applied to the pixel. The
            final pixel color is defined by the equation pixel_color = alpha *
            this_color + (1.0 - alpha) * pixel_color. Value is in [0.0, 1.0].

          example: 42.5
    OpaqueColor:
      type: object
      description: A themeable solid color value.
      properties:
        rgbColor:
          $ref: '#/components/schemas/RgbColor'
        themeColor:
          type: string
          description: An opaque theme color.
          enum:
          - THEME_COLOR_TYPE_UNSPECIFIED
          - DARK1
          - LIGHT1
          - DARK2
          - LIGHT2
          - ACCENT1
          - ACCENT2
          - ACCENT3
          - ACCENT4
          - ACCENT5
          - ACCENT6
          - HYPERLINK
          - FOLLOWED_HYPERLINK
          - TEXT1
          - BACKGROUND1
          - TEXT2
          - BACKGROUND2

          example: THEME_COLOR_TYPE_UNSPECIFIED
    OptionalColor:
      type: object
      description: >
        A color that can either be fully opaque or fully transparent.
      properties:
        opaqueColor:
          $ref: '#/components/schemas/OpaqueColor'

    RgbColor:
      type: object
      description: An RGB color.
      properties:
        red:
          type: number
          description: The red component of the color, from 0.0 to 1.0.
          example: 42.5
        green:
          type: number
          description: The green component of the color, from 0.0 to 1.0.
          example: 42.5
        blue:
          type: number
          description: The blue component of the color, from 0.0 to 1.0.

          example: 42.5
    Size:
      type: object
      description: A width and height.
      properties:
        width:
          $ref: '#/components/schemas/Dimension'
        height:
          $ref: '#/components/schemas/Dimension'

    Dimension:
      type: object
      description: A magnitude in a single direction in the specified units.
      properties:
        magnitude:
          type: number
          description: The magnitude.
          example: 42.5
        unit:
          type: string
          description: The units for the magnitude.
          enum:
          - UNIT_UNSPECIFIED
          - EMU
          - PT

          example: UNIT_UNSPECIFIED
    AffineTransform:
      type: object
      description: >
        A 3x3 matrix that represents an affine transformation. The matrix maps
        a source coordinate (x, y) to a destination coordinate (x', y')
        according to matrix multiplication.
      properties:
        scaleX:
          type: number
          description: The X coordinate scaling element.
          example: 42.5
        scaleY:
          type: number
          description: The Y coordinate scaling element.
          example: 42.5
        shearX:
          type: number
          description: The X coordinate shearing element.
          example: 42.5
        shearY:
          type: number
          description: The Y coordinate shearing element.
          example: 42.5
        translateX:
          type: number
          description: The X coordinate translation element.
          example: 42.5
        translateY:
          type: number
          description: The Y coordinate translation element.
          example: 42.5
        unit:
          type: string
          description: The units for translate elements.
          enum:
          - UNIT_UNSPECIFIED
          - EMU
          - PT

          example: UNIT_UNSPECIFIED
    Thumbnail:
      type: object
      description: The thumbnail of a page.
      properties:
        contentUrl:
          type: string
          description: >
            The content URL of the thumbnail image. The URL to the image has a
            default lifetime of 30 minutes. This URL is tagged with the account
            of the requester.
          example: https://www.example.com
        width:
          type: integer
          description: The positive width in pixels of the thumbnail image.
          example: 10
        height:
          type: integer
          description: The positive height in pixels of the thumbnail image.

          example: 10
    BatchUpdatePresentationRequest:
      type: object
      description: Request message for BatchUpdatePresentation.
      properties:
        requests:
          type: array
          description: A list of updates to apply to the presentation.
          items:
            $ref: '#/components/schemas/Request'
          example: []
        writeControl:
          $ref: '#/components/schemas/WriteControl'

    BatchUpdatePresentationResponse:
      type: object
      description: Response message from a BatchUpdatePresentation request.
      properties:
        presentationId:
          type: string
          description: The presentation the updates were applied to.
          example: '500123'
        replies:
          type: array
          description: >
            The reply of the updates. This maps 1:1 with the updates, although
            replies to some requests may be empty.
          items:
            $ref: '#/components/schemas/Response'
          example: []
        writeControl:
          $ref: '#/components/schemas/WriteControl'

    WriteControl:
      type: object
      description: >
        Provides control over how write requests are executed. When a write
        request is made, the requiredRevisionId can be specified to indicate
        that the write should only succeed if the presentation's current
        revision matches the specified value.
      properties:
        requiredRevisionId:
          type: string
          description: >
            The revision ID of the presentation required for the write request.
            If specified, the write request is only processed if the current
            revision ID of the presentation matches this value.

          example: '500123'
    Request:
      type: object
      description: A single kind of update to apply to a presentation.
      properties:
        createSlide:
          $ref: '#/components/schemas/CreateSlideRequest'
        createShape:
          $ref: '#/components/schemas/CreateShapeRequest'
        createTable:
          $ref: '#/components/schemas/CreateTableRequest'
        createImage:
          $ref: '#/components/schemas/CreateImageRequest'
        createVideo:
          $ref: '#/components/schemas/CreateVideoRequest'
        createSheetsChart:
          $ref: '#/components/schemas/CreateSheetsChartRequest'
        createLine:
          $ref: '#/components/schemas/CreateLineRequest'
        insertText:
          $ref: '#/components/schemas/InsertTextRequest'
        insertTableRows:
          $ref: '#/components/schemas/InsertTableRowsRequest'
        insertTableColumns:
          $ref: '#/components/schemas/InsertTableColumnsRequest'
        deleteObject:
          $ref: '#/components/schemas/DeleteObjectRequest'
        deleteText:
          $ref: '#/components/schemas/DeleteTextRequest'
        deleteTableRow:
          $ref: '#/components/schemas/DeleteTableRowRequest'
        deleteTableColumn:
          $ref: '#/components/schemas/DeleteTableColumnRequest'
        replaceAllText:
          $ref: '#/components/schemas/ReplaceAllTextRequest'
        replaceAllShapesWithImage:
          $ref: '#/components/schemas/ReplaceAllShapesWithImageRequest'
        replaceAllShapesWithSheetsChart:
          $ref: '#/components/schemas/ReplaceAllShapesWithSheetsChartRequest'
        replaceImage:
          $ref: '#/components/schemas/ReplaceImageRequest'
        duplicateObject:
          $ref: '#/components/schemas/DuplicateObjectRequest'
        updateSlidesPosition:
          $ref: '#/components/schemas/UpdateSlidesPositionRequest'
        updatePageElementTransform:
          $ref: '#/components/schemas/UpdatePageElementTransformRequest'
        updateShapeProperties:
          $ref: '#/components/schemas/UpdateShapePropertiesRequest'
        updateImageProperties:
          $ref: '#/components/schemas/UpdateImagePropertiesRequest'
        updateVideoProperties:
          $ref: '#/components/schemas/UpdateVideoPropertiesRequest'
        updatePageProperties:
          $ref: '#/components/schemas/UpdatePagePropertiesRequest'
        updateTableCellProperties:
          $ref: '#/components/schemas/UpdateTableCellPropertiesRequest'
        updateLineProperties:
          $ref: '#/components/schemas/UpdateLinePropertiesRequest'
        updateTextStyle:
          $ref: '#/components/schemas/UpdateTextStyleRequest'
        updateParagraphStyle:
          $ref: '#/components/schemas/UpdateParagraphStyleRequest'
        updateTableBorderProperties:
          $ref: '#/components/schemas/UpdateTableBorderPropertiesRequest'
        updateTableColumnProperties:
          $ref: '#/components/schemas/UpdateTableColumnPropertiesRequest'
        updateTableRowProperties:
          $ref: '#/components/schemas/UpdateTableRowPropertiesRequest'
        updateSlideProperties:
          $ref: '#/components/schemas/UpdateSlidePropertiesRequest'
        updatePageElementAltText:
          $ref: '#/components/schemas/UpdatePageElementAltTextRequest'
        updatePageElementsZOrder:
          $ref: '#/components/schemas/UpdatePageElementsZOrderRequest'
        updateLineCategoryRequest:
          $ref: '#/components/schemas/UpdateLineCategoryRequest'
        rerouteLine:
          $ref: '#/components/schemas/RerouteLineRequest'
        createParagraphBullets:
          $ref: '#/components/schemas/CreateParagraphBulletsRequest'
        deleteParagraphBullets:
          $ref: '#/components/schemas/DeleteParagraphBulletsRequest'
        groupObjects:
          $ref: '#/components/schemas/GroupObjectsRequest'
        ungroupObjects:
          $ref: '#/components/schemas/UngroupObjectsRequest'
        mergeTableCells:
          $ref: '#/components/schemas/MergeTableCellsRequest'
        unmergeTableCells:
          $ref: '#/components/schemas/UnmergeTableCellsRequest'
        refreshSheetsChart:
          $ref: '#/components/schemas/RefreshSheetsChartRequest'

    Response:
      type: object
      description: A single response from an update.
      properties:
        createSlide:
          $ref: '#/components/schemas/CreateSlideResponse'
        createShape:
          $ref: '#/components/schemas/CreateShapeResponse'
        createTable:
          $ref: '#/components/schemas/CreateTableResponse'
        createImage:
          $ref: '#/components/schemas/CreateImageResponse'
        createVideo:
          $ref: '#/components/schemas/CreateVideoResponse'
        createSheetsChart:
          $ref: '#/components/schemas/CreateSheetsChartResponse'
        createLine:
          $ref: '#/components/schemas/CreateLineResponse'
        replaceAllText:
          $ref: '#/components/schemas/ReplaceAllTextResponse'
        replaceAllShapesWithImage:
          $ref: '#/components/schemas/ReplaceAllShapesWithImageResponse'
        replaceAllShapesWithSheetsChart:
          $ref: '#/components/schemas/ReplaceAllShapesWithSheetsChartResponse'
        duplicateObject:
          $ref: '#/components/schemas/DuplicateObjectResponse'
        groupObjects:
          $ref: '#/components/schemas/GroupObjectsResponse'

    CreateSlideRequest:
      type: object
      description: Creates a new slide.
      properties:
        objectId:
          type: string
          description: >
            A user-supplied object ID. If specified, the ID must be unique among
            all pages and page elements in the presentation.
          example: '500123'
        insertionIndex:
          type: integer
          description: >
            The optional zero-based index indicating where in the presentation
            to insert the slide.
          example: 10
        slideLayoutReference:
          $ref: '#/components/schemas/LayoutReference'
        placeholderIdMappings:
          type: array
          description: >
            An optional list of object ID mappings from the placeholder(s) on
            the layout to the placeholders that are created on the new slide.
          items:
            $ref: '#/components/schemas/LayoutPlaceholderIdMapping'

          example: []
    LayoutReference:
      type: object
      description: Slide layout reference.
      properties:
        predefinedLayout:
          type: string
          description: Predefined layout.
          enum:
          - PREDEFINED_LAYOUT_UNSPECIFIED
          - BLANK
          - CAPTION_ONLY
          - TITLE
          - TITLE_AND_BODY
          - TITLE_AND_TWO_COLUMNS
          - TITLE_ONLY
          - SECTION_HEADER
          - SECTION_TITLE_AND_DESCRIPTION
          - ONE_COLUMN_TEXT
          - MAIN_POINT
          - BIG_NUMBER
          example: PREDEFINED_LAYOUT_UNSPECIFIED
        layoutId:
          type: string
          description: Layout ID referring to an existing layout in the presentation.

          example: '500123'
    LayoutPlaceholderIdMapping:
      type: object
      description: >
        The mapping between a placeholder on a layout and an object ID for the
        placeholder on a created slide.
      properties:
        layoutPlaceholder:
          $ref: '#/components/schemas/Placeholder'
        layoutPlaceholderObjectId:
          type: string
          description: >
            The object ID of the placeholder on a layout that will be applied
            to a slide.
          example: '500123'
        objectId:
          type: string
          description: >
            A user-supplied object ID for the placeholder identified above that
            is to be created on the corresponding slide.

          example: '500123'
    CreateShapeRequest:
      type: object
      description: Creates a new shape.
      properties:
        objectId:
          type: string
          description: A user-supplied object ID.
          example: '500123'
        elementProperties:
          $ref: '#/components/schemas/PageElementProperties'
        shapeType:
          type: string
          description: The shape type.

          example: example_value
    CreateTableRequest:
      type: object
      description: Creates a new table.
      properties:
        objectId:
          type: string
          description: A user-supplied object ID.
          example: '500123'
        elementProperties:
          $ref: '#/components/schemas/PageElementProperties'
        rows:
          type: integer
          description: Number of rows in the table.
          example: 10
        columns:
          type: integer
          description: Number of columns in the table.

          example: 10
    CreateImageRequest:
      type: object
      description: Creates an image.
      properties:
        objectId:
          type: string
          description: A user-supplied object ID.
          example: '500123'
        elementProperties:
          $ref: '#/components/schemas/PageElementProperties'
        url:
          type: string
          description: >
            The image URL. The image is fetched once at insertion time and a
            copy is stored for display inside the presentation.

          example: https://www.example.com
    CreateVideoRequest:
      type: object
      description: Creates a video.
      properties:
        objectId:
          type: string
          description: A user-supplied object ID.
          example: '500123'
        elementProperties:
          $ref: '#/components/schemas/PageElementProperties'
        source:
          type: string
          description: The video source.
          enum:
          - SOURCE_UNSPECIFIED
          - YOUTUBE
          - DRIVE
          - GOOGLE_MEET
          example: SOURCE_UNSPECIFIED
        id:
          type: string
          description: >
            The video source's unique identifier for this video.

          example: abc123
    CreateSheetsChartRequest:
      type: object
      description: Creates an embedded Google Sheets chart.
      properties:
        objectId:
          type: string
          description: A user-supplied object ID.
          example: '500123'
        elementProperties:
          $ref: '#/components/schemas/PageElementProperties'
        spreadsheetId:
          type: string
          description: The ID of the Google Sheets spreadsheet that contains the chart.
          example: '500123'
        chartId:
          type: integer
          description: The ID of the specific chart in the Google Sheets spreadsheet.
          example: '500123'
        linkingMode:
          type: string
          description: The mode with which the chart is linked to the source spreadsheet.
          enum:
          - NOT_LINKED_IMAGE
          - LINKED

          example: NOT_LINKED_IMAGE
    CreateLineRequest:
      type: object
      description: Creates a line.
      properties:
        objectId:
          type: string
          description: A user-supplied object ID.
          example: '500123'
        elementProperties:
          $ref: '#/components/schemas/PageElementProperties'
        lineCategory:
          type: string
          description: The category of the line to be created.
          enum:
          - STRAIGHT
          - BENT
          - CURVED
          example: STRAIGHT
        category:
          type: string
          description: The category of the line to be created (preferred over lineCategory).
          enum:
          - LINE_CATEGORY_UNSPECIFIED
          - STRAIGHT
          - BENT
          - CURVED

          example: LINE_CATEGORY_UNSPECIFIED
    InsertTextRequest:
      type: object
      description: Inserts text into a shape or a table cell.
      properties:
        objectId:
          type: string
          description: The object ID of the shape or table cell.
          example: '500123'
        cellLocation:
          $ref: '#/components/schemas/TableCellLocation'
        text:
          type: string
          description: >
            The text to be inserted. Inserting a newline character will
            implicitly create a new ParagraphMarker.
          example: example_value
        insertionIndex:
          type: integer
          description: >
            The index where the text will be inserted, in Unicode code units
            of the UTF-16 encoding.

          example: 10
    InsertTableRowsRequest:
      type: object
      description: Inserts rows into a table.
      properties:
        tableObjectId:
          type: string
          description: The table to insert rows into.
          example: '500123'
        cellLocation:
          $ref: '#/components/schemas/TableCellLocation'
        insertBelow:
          type: boolean
          description: Whether to insert new rows below the reference cell location.
          example: true
        number:
          type: integer
          description: The number of rows to be inserted.

          example: 10
    InsertTableColumnsRequest:
      type: object
      description: Inserts columns into a table.
      properties:
        tableObjectId:
          type: string
          description: The table to insert columns into.
          example: '500123'
        cellLocation:
          $ref: '#/components/schemas/TableCellLocation'
        insertRight:
          type: boolean
          description: Whether to insert new columns to the right of the reference cell location.
          example: true
        number:
          type: integer
          description: The number of columns to be inserted.

          example: 10
    DeleteObjectRequest:
      type: object
      description: >
        Deletes an object, either pages or page elements, from the presentation.
      properties:
        objectId:
          type: string
          description: >
            The object ID of the page or page element to delete.

          example: '500123'
    DeleteTextRequest:
      type: object
      description: Deletes text from a shape or a table cell.
      properties:
        objectId:
          type: string
          description: The object ID of the shape or table where the text will be deleted.
          example: '500123'
        cellLocation:
          $ref: '#/components/schemas/TableCellLocation'
        textRange:
          $ref: '#/components/schemas/Range'

    DeleteTableRowRequest:
      type: object
      description: Deletes a row from a table.
      properties:
        tableObjectId:
          type: string
          description: The table to delete rows from.
          example: '500123'
        cellLocation:
          $ref: '#/components/schemas/TableCellLocation'

    DeleteTableColumnRequest:
      type: object
      description: Deletes a column from a table.
      properties:
        tableObjectId:
          type: string
          description: The table to delete columns from.
          example: '500123'
        cellLocation:
          $ref: '#/components/schemas/TableCellLocation'

    ReplaceAllTextRequest:
      type: object
      description: >
        Replaces all instances of text matching a criteria with replace text.
      properties:
        replaceText:
          type: string
          description: The text that will replace the matched text.
          example: example_value
        containsText:
          $ref: '#/components/schemas/SubstringMatchCriteria'
        pageObjectIds:
          type: array
          description: >
            If non-empty, limits the matches to page elements only on the
            given pages.
          items:
            type: string

          example: []
    ReplaceAllShapesWithImageRequest:
      type: object
      description: >
        Replaces all shapes that match the given criteria with the provided image.
      properties:
        containsText:
          $ref: '#/components/schemas/SubstringMatchCriteria'
        imageUrl:
          type: string
          description: The image URL.
          example: https://www.example.com
        imageReplaceMethod:
          type: string
          description: The image replace method.
          enum:
          - IMAGE_REPLACE_METHOD_UNSPECIFIED
          - CENTER_INSIDE
          - CENTER_CROP
          example: IMAGE_REPLACE_METHOD_UNSPECIFIED
        pageObjectIds:
          type: array
          description: If non-empty, limits to the given pages.
          items:
            type: string

          example: []
    ReplaceAllShapesWithSheetsChartRequest:
      type: object
      description: >
        Replaces all shapes that match the given criteria with the provided
        Google Sheets chart.
      properties:
        containsText:
          $ref: '#/components/schemas/SubstringMatchCriteria'
        spreadsheetId:
          type: string
          description: The ID of the Google Sheets spreadsheet.
          example: '500123'
        chartId:
          type: integer
          description: The ID of the specific chart in the Google Sheets spreadsheet.
          example: '500123'
        linkingMode:
          type: string
          description: The mode with which the chart is linked to the source spreadsheet.
          enum:
          - NOT_LINKED_IMAGE
          - LINKED
          example: NOT_LINKED_IMAGE
        pageObjectIds:
          type: array
          description: If non-empty, limits to the given pages.
          items:
            type: string

          example: []
    ReplaceImageRequest:
      type: object
      description: Replaces an existing image with a new image.
      properties:
        imageObjectId:
          type: string
          description: The ID of the existing image that will be replaced.
          example: '500123'
        url:
          type: string
          description: The URL of the new image.
          example: https://www.example.com
        imageReplaceMethod:
          type: string
          description: The replace method.
          enum:
          - IMAGE_REPLACE_METHOD_UNSPECIFIED
          - CENTER_INSIDE
          - CENTER_CROP

          example: IMAGE_REPLACE_METHOD_UNSPECIFIED
    DuplicateObjectRequest:
      type: object
      description: >
        Duplicates a slide or page element. When duplicating a slide, the
        duplicate slide will be created immediately following the specified slide.
      properties:
        objectId:
          type: string
          description: The ID of the object to duplicate.
          example: '500123'
        objectIds:
          type: object
          description: >
            The object being duplicated may contain other objects. This defines
            how the IDs of duplicated objects are generated.
          additionalProperties:
            type: string

          example: example_value
    UpdateSlidesPositionRequest:
      type: object
      description: Updates the position of slides in the presentation.
      properties:
        slideObjectIds:
          type: array
          description: The IDs of the slides in the presentation that should be moved.
          items:
            type: string
          example: []
        insertionIndex:
          type: integer
          description: >
            The index where the slides should be inserted, based on the slide
            arrangement before the move takes place.

          example: 10
    UpdatePageElementTransformRequest:
      type: object
      description: >
        Updates the transform of a page element.
      properties:
        objectId:
          type: string
          description: The object ID of the page element to update.
          example: '500123'
        transform:
          $ref: '#/components/schemas/AffineTransform'
        applyMode:
          type: string
          description: The apply mode of the transform update.
          enum:
          - APPLY_MODE_UNSPECIFIED
          - RELATIVE
          - ABSOLUTE

          example: APPLY_MODE_UNSPECIFIED
    UpdateShapePropertiesRequest:
      type: object
      description: Update the properties of a Shape.
      properties:
        objectId:
          type: string
          description: The object ID of the shape.
          example: '500123'
        shapeProperties:
          $ref: '#/components/schemas/ShapeProperties'
        fields:
          type: string
          description: >
            The fields that should be updated. At least one field must be
            specified. Uses Google's FieldMask format.

          example: example_value
    UpdateImagePropertiesRequest:
      type: object
      description: Update the properties of an Image.
      properties:
        objectId:
          type: string
          description: The object ID of the image.
          example: '500123'
        imageProperties:
          $ref: '#/components/schemas/ImageProperties'
        fields:
          type: string
          description: The fields that should be updated.

          example: example_value
    UpdateVideoPropertiesRequest:
      type: object
      description: Update the properties of a Video.
      properties:
        objectId:
          type: string
          description: The object ID of the video.
          example: '500123'
        videoProperties:
          $ref: '#/components/schemas/VideoProperties'
        fields:
          type: string
          description: The fields that should be updated.

          example: example_value
    UpdatePagePropertiesRequest:
      type: object
      description: Updates the properties of a Page.
      properties:
        objectId:
          type: string
          description: The object ID of the page the update is applied to.
          example: '500123'
        pageProperties:
          $ref: '#/components/schemas/PageProperties'
        fields:
          type: string
          description: The fields that should be updated.

          example: example_value
    UpdateTableCellPropertiesRequest:
      type: object
      description: Update the properties of a TableCell.
      properties:
        objectId:
          type: string
          description: The object ID of the table.
          example: '500123'
        tableRange:
          $ref: '#/components/schemas/TableRange'
        tableCellProperties:
          $ref: '#/components/schemas/TableCellProperties'
        fields:
          type: string
          description: The fields that should be updated.

          example: example_value
    UpdateLinePropertiesRequest:
      type: object
      description: Updates the properties of a Line.
      properties:
        objectId:
          type: string
          description: The object ID of the line.
          example: '500123'
        lineProperties:
          $ref: '#/components/schemas/LineProperties'
        fields:
          type: string
          description: The fields that should be updated.

          example: example_value
    UpdateTextStyleRequest:
      type: object
      description: >
        Update the styling of text in a Shape or Table.
      properties:
        objectId:
          type: string
          description: The object ID of the shape or table with the text to be styled.
          example: '500123'
        cellLocation:
          $ref: '#/components/schemas/TableCellLocation'
        style:
          $ref: '#/components/schemas/TextStyle'
        textRange:
          $ref: '#/components/schemas/Range'
        fields:
          type: string
          description: The fields that should be updated.

          example: example_value
    UpdateParagraphStyleRequest:
      type: object
      description: Updates the styling of paragraphs within a Shape or Table.
      properties:
        objectId:
          type: string
          description: The object ID of the shape or table.
          example: '500123'
        cellLocation:
          $ref: '#/components/schemas/TableCellLocation'
        style:
          $ref: '#/components/schemas/ParagraphStyle'
        textRange:
          $ref: '#/components/schemas/Range'
        fields:
          type: string
          description: The fields that should be updated.

          example: example_value
    UpdateTableBorderPropertiesRequest:
      type: object
      description: Updates the properties of the table borders in a Table.
      properties:
        objectId:
          type: string
          description: The object ID of the table.
          example: '500123'
        tableRange:
          $ref: '#/components/schemas/TableRange'
        tableBorderProperties:
          $ref: '#/components/schemas/TableBorderProperties'
        borderPosition:
          type: string
          description: The border position in the table range.
          enum:
          - ALL
          - BOTTOM
          - INNER
          - INNER_HORIZONTAL
          - INNER_VERTICAL
          - LEFT
          - OUTER
          - RIGHT
          - TOP
          example: ALL
        fields:
          type: string
          description: The fields that should be updated.

          example: example_value
    UpdateTableColumnPropertiesRequest:
      type: object
      description: Updates the properties of a Table column.
      properties:
        objectId:
          type: string
          description: The object ID of the table.
          example: '500123'
        columnIndices:
          type: array
          description: The list of zero-based indices specifying which columns to update.
          items:
            type: integer
          example: []
        tableColumnProperties:
          $ref: '#/components/schemas/TableColumnProperties'
        fields:
          type: string
          description: The fields that should be updated.

          example: example_value
    UpdateTableRowPropertiesRequest:
      type: object
      description: Updates the properties of a Table row.
      properties:
        objectId:
          type: string
          description: The object ID of the table.
          example: '500123'
        rowIndices:
          type: array
          description: The list of zero-based indices specifying which rows to update.
          items:
            type: integer
          example: []
        tableRowProperties:
          $ref: '#/components/schemas/TableRowProperties'
        fields:
          type: string
[...]
